<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Comentario</title>
</head>
<body>
    {% extends "index.html" %}
    {% load static %}
    {% block boton_pagina %}
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#ancla">Agregar comentario a {{ receta.nombre }}</a>
    {% endblock %}
    {% block contenidoACambiar %}
    <h2>Agregar comentario</h2>
    <div class="container mt-5" id="ancla">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Agregar comentario</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="nombre_usuario" class="form-label">Username:</label>
                                <input type="text" id="nombre_usuario" name="nombre_usuario" value="{{ user.username }}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="nombre_receta" class="form-label">Nombre de receta:</label>
                                <input type="text" id="nombre_receta" name="nombre_receta" value="{{ receta.nombre }}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="comentario" class="form-label">Comentario:</label>
                                <textarea class="form-control" id="comentario" name="comentario" rows="4" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="puntaje" class="form-label">Puntaje (1-10):</label>
                                <input type="number" class="form-control" id="puntaje" name="puntaje" min="1" max="10" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
