<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "index.html" %}
    {% load static %}
    {% block boton_pagina %}
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#ancla">eliminar recetas</a>
    {% endblock %}
    {% block contenidoACambiar%}
    <form action="" method="POST" id="ancla">
        {% csrf_token %}

        <p>¿Estás seguro que deseas borrar la receta de "{{ object.nombre }}"?</p>
        <input type="submit" value="Borrar">

    </form>
    <button><a href="{% url 'recetas_vistas' %}">volver a recetas </a></button>

    {% endblock %}
</body>
</html>