<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Recetas</title>
</head>
<body>
    {% extends "index.html" %}
    {% load static %}
    {% block boton_pagina %}
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#ancla">recetas</a>
    {% endblock %}
    {% block contenidoACambiar %}
    <h2 id="ancla">Lista de Recetas</h2>
    <div>
        <ul>
            {% for receta in object_list %}
                <li>
                    <p>NOMBRE: <br> {{ receta.nombre }}</p>
                    <p>RESUMEN : <br> {{ receta.resumen_de_la_receta }}</p>
                    <p>DIFICILTAD: <br> {{ receta.dificultad }}</p>
                    <p>IMAGEN: <br></p>
                    {% if receta.imagen %}
                        <img src="{{ receta.imagen.url }}" alt="Imagen de la receta" style="max-width: 50%; height: auto;">
                    {% else %}
                        <p>No hay imagen disponible.</p>
                    {% endif %}
                    <p>
                        <button><a href="{% url 'Detalle_receta' receta.id %}">Ver</a></button>
                        <!--aca le tengo q pasar un if , si el nombre q aparece en-->
                        <p>{% if user.username == receta.username or user.username == 'mariano' %}</p>
                        <button><a href="{% url 'comentario_crear' receta.id %}">comentar receta </a></button>
                        <button><a href="{% url 'recetas_modificar' receta.id %}">Editar</a></button>
                        <button><a href="{% url 'recetas_eliminar' receta.id %}">Borrar</a></button>
                        {% endif %}
                    </p>
                    {% empty %}
                    <li>No hay recetas disponibles.</li>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
